--extra-index-url https://download.pytorch.org/whl/cpu

# Web Framework & Audio Input
streamlit
streamlit-mic-recorder

# Speech-to-Text & Deep Learning
openai-whisper
torch

# NLP & Machine Learning
nltk
joblib
scikit-learn==1.6.1
scipy
soundfile
pandas
numpy==1.26.4

# Computer Vision & Hand Tracking
opencv-python-headless==4.11.0.86
mediapipe==0.10.21
